/** CUBEE **/

body{
	background: #f7f7f4 !important;
	font-family: "Nunito", sans-serif !important;
	margin: 0;
}

a, a:hover, a:focus{
	color: #d4d4d4;
	text-decoration: none !important;
	transition: all 0.3s;
}

i, span{
	display: inline-block;
}

h1{
	font-family: 'Lato', sans-serif !important;
	font-size: 6rem !important;
	align-items: center;
	margin: 0 10px 0 10px !important;
}

h2{
	font-family: 'Lato', sans-serif !important;
	color: #757470 !important;
	font-weight: bold !important;
}

h3{
	font-size: 50px;
}

.container{
	margin-left: 15% !important;
	width: 100% !important;
}

@media (max-width: 767px) {
	.container{
		margin: auto !important;
	}
}

.img-top{
	max-width: 100px !important;
	margin-top: 15px !important; 
}


/************  LOGIN FORM **************/
.login-clean {
	padding:80px 0px;
}

.login-clean form {
	max-width:400px;
	width:90%;
	margin:0 auto;
	background-color:#ffffff;
	padding:40px;
	border-radius:4px;
	color:#505e6c;
	box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean form .btn-primary:active {
	transform:translateY(1px);
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
	background:#ffa43a;
}

.btn:not(:disabled):not(.disabled) {₢
	cursor:pointer;
}

.login-clean form .btn-primary {
	background-color:rgb(244,185,71);
	border:none;
	border-radius:4px;
	padding:11px;
	box-shadow:none;
	margin-top:26px;
	text-shadow:none;
	outline:none !important;
}

.login-clean .illustration {
	text-align:center;
	padding:0 0 20px;
	font-size:100px;
	color:rgb(244,172,34);
}

.login-clean form .forgot {
	display:block;
	text-align:center;
	font-size:12px;
	color:#6f7a85;
	opacity:0.9;
	text-decoration:none;
}

.icon-logo {
	color:rgb(244,172,34);
	font-size: 80px;
}

.loading{
	background: #f9f9f9;
	align-items: center;
	width: 100%;
	height: 100%;
}

/** PERFIL ***/
#perfil-side{
	background: #36343a !important;
}

/*****CONTENT **********/
#conteudo{
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 100%;
	-webkit-box-shadow: 1px 1px 28px 1px #efefef; 
	box-shadow: 1px 1px 28px 1px #efefef;
	border: 1px solid #dddddd;
}

/**** BOXES ******/
#dispositivos-redes{
	display: flex;
	justify-content: flex-start;

}

#alinhabox{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.roteadores{
	background: #eae151;
	max-width: 150px;
	height: auto;
	color: #2d2a32;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	padding: 3px;
	border-radius: 5px;
	margin: 5px 10px 20px 0;
	
}

.switches{
	background: #ddd92a	;
	max-width: 150px;
	height: auto;
	color: #2d2a32;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	padding: 3px;
	border-radius: 5px;
	margin: 5px 10px 20px 0;
}

.cx{
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	min-height: 100px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	text-align: center;
	background: #fff;
	font-family: "Lato", sans-serif;	
	align-items: center;
	-webkit-box-shadow: 1px 1px 28px 1px #efefef; 
	box-shadow: 1px 1px 28px 1px #efefef;
	color: #919191;
}

.box{
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	width: 80%;
	height: auto;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	text-align: center;
	background: #fff;
	font-family: "Lato", sans-serif;	
	align-items: center;
	-webkit-box-shadow: 1px 1px 28px 1px #efefef; 
	box-shadow: 1px 1px 28px 1px #efefef;
	color: #919191;
}

.box1{
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	text-align: center;
	background: #fff;
	font-family: "Lato", sans-serif;	
	align-items: center;
	-webkit-box-shadow: 1px 1px 28px 1px #efefef; 
	box-shadow: 1px 1px 28px 1px #efefef;

}

.box2{
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	text-align: center;
	background: #fff;
	font-family: "Lato", sans-serif;	
	align-items: center;
	-webkit-box-shadow: 1px 1px 28px 1px #efefef; 
	box-shadow: 1px 1px 28px 1px #efefef;
	color: #919191;
}


.flex-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-column{
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-left: 2%;
}

h5{
	font-family: "Open Sans", sans-serif !important;
	color: #8a8c8e !important;
	align-self: center;
	line-height: 1.1;
	font-weight: bolder !important;
}

h4{
	font-family: "Open Sans", sans-serif !important;
	color: #8a8c8e !important;
	align-self: flex-start;
	line-height: 1.1;
}

.form-control {
	border: 1px solid #d3d8de;
	box-shadow: none;
	font-size: 12px;
	line-height: 1.42857143;
	height: 34px;
	padding: 6px 12px;
}
.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/***** SCROLL BAR*******/
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	-webkit-border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: #dcdcdc;
	-webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #a9a9a9;
	-webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #a9a9a9;
	-webkit-border-radius: 3px;
}

input:focus{
	border-color: #303030;
}


/******** SIDEBAR MENU *************/
.nav-side-menu {
	overflow: auto;
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	background-color: #2d2a32;
	position: fixed;
	top: 0px;
	width: 14%;
	height: 100%;
	color: #0d0d0d;
}

@media (max-width: 767px) {
	.nav-side-menu{
		height: auto;
	}
}
.nav-item{
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.nav-item ion-icon {
	margin-right: 7px;
}
.nav-side-menu .brand {
	background-color: #36343a;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.brand img{
	
}

.nav-side-menu .toggle-btn {
	display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 45px;
	cursor: pointer;

  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
     */
 }
 .nav-side-menu ul :not(collapsed) .arrow:before,
 .nav-side-menu li :not(collapsed) .arrow:before {
 	font-family: FontAwesome;
 	content: "\f078";
 	display: inline-block;
 	padding-left: 10px;
 	padding-right: 10px;
 	vertical-align: middle;
 	float: right;
 }
 .nav-side-menu ul .active,
 .nav-side-menu li .active {
 	
 	background-color: #f8f8bf;
 	font-weight: bolder;
 }
 .nav-side-menu ul .sub-menu li.active,
 .nav-side-menu li .sub-menu li.active {
 	color: #36343a;
 }

 .nav-side-menu ul .sub-menu li.active a,
 .nav-side-menu li .sub-menu li.active a {
 	color: #fff;
 }
 .nav-side-menu ul .sub-menu li,
 .nav-side-menu li .sub-menu li {
 	background-color: #36343a;
 	border: none;
 	line-height: 28px;
 	margin-left: 0px;
 }
 .nav-side-menu ul .sub-menu li:hover,
 .nav-side-menu li .sub-menu li:hover {
 	background-color: #777;
 }
 .nav-side-menu ul .sub-menu li:before,
 .nav-side-menu li .sub-menu li:before {
 	font-family: Fontawesome;
 	content: "\f105";
 	display: inline-block;
 	padding-left: 20px;
 	padding-right: 10px;
 	vertical-align: middle;
 	color: #fff;
 }
 .nav-side-menu li {
 	padding-left: 0px;
 	

 }
 .nav-side-menu li a {
 	text-decoration: none;
 	color: #fff;
 }
 .nav-side-menu li a i {
 	padding-left: 10px;
 	width: 20px;
 	padding-right: 20px;
 }
 .nav-side-menu li:hover {
 	
 	background-color: #777;
 	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
 	-o-transition: all 1s ease;
 	-ms-transition: all 1s ease;
 	transition: all 1s ease;
 }
 @media (max-width: 767px) {
 	.nav-side-menu {
 		position: relative;
 		width: 100%;
 		margin-bottom: 10px;
 	}
 	.nav-side-menu .toggle-btn {
 		display: block;
 		cursor: pointer;
 		position: absolute;
 		right: 10px;
 		top: 10px;
 		z-index: 10 !important;
 		padding: 3px;
 		background-color: #36343a;
 		color: #ffffff;
 		width: 40px;
 		text-align: center;
 	}
 	.brand {
 		text-align: left !important;
 		font-size: 22px;
 		padding-left: 20px;
 		line-height: 50px !important;
 	}
 }

 @media (min-width: 767px) {
 	.nav-side-menu .menu-list .menu-content {
 		display: block;

 	}
 }



 .nav-side-menu ul .sub-menu ul .sub-line li.active,
 .nav-side-menu li .sub-menu li .sub-line li.active {
 	color: #777;
 }

 .nav-side-menu ul .sub-menu li .sub-line li.active a,
 .nav-side-menu li .sub-menu li .sub-line li.active a {
 	color: #d19b3d;
 }
 .nav-side-menu ul .sub-menu li .sub-line li,
 .nav-side-menu li .sub-menu li .sub-line li {
 	background-color: #181c20;
 	border: none;
 	line-height: 28px;
 	border-bottom: 1px solid #23282e;
 	margin-left: 0px;
 }
 .nav-side-menu ul .sub-menu li .sub-line li:hover,
 .nav-side-menu li .sub-menu li .sub-line li:hover {
 	background-color: #020203;
 }
 .nav-side-menu ul .sub-menu li .sub-line li:before,
 .nav-side-menu li .sub-menu li .sub-line li:before {
 	font-family: FontAwesome;
 	content: "\f105";
 	display: inline-block;
 	padding-left: 100px;
 	padding-right: 10px;
 	vertical-align: middle;
 }

 .nav-side-menu .sub-menu li {
 	padding-left: 20px;
 	border-left: 3px solid #2e353d;
 	border-bottom: 1px solid #23282e;
 }
 .nav-side-menu .sub-menu li a {
 	text-decoration: none;
 	color: #fff;
 }
 
 .sub-menu li a i {
 	padding-left: 10px;
 	width: 20px;
 	padding-right: 20px;
 }
 .nav-side-menu li .sub-menu li:hover {
 	
 	background-color: #4f5b69;
 	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
 	-o-transition: all 1s ease;
 	-ms-transition: all 1s ease;
 	transition: all 1s ease;
 }

 @media (max-width: 767px) {
 	.nav-side-menu .sub-menu {
 		position: relative;
 		width: 100%;
 		margin-bottom: 10px;
 	}

 	.nav-side-menu  .sub-menu .toggle-btn {
 		display: block;
 		cursor: pointer;
 		position: absolute;
 		right: 10px;
 		top: 10px;
 		z-index: 10 !important;
 		padding: 3px;
 		background-color: #ffffff;
 		color: #000;
 		width: 40px;
 		text-align: center;
 	}

 	.sub-line ul .sub-press li.active,
 	.sub-line li .sub-press li.active {
 		color: #d19b3d;
 	}

 	.sub-line ul .sub-press li.active a,
 	.sub-line li .sub-press li.active a {
 		color: #d19b3d;
 	}
 	.sub-line ul .sub-press li,
 	.sub-line li .sub-press li {
 		background-color: #181c20;
 		border: none;
 		line-height: 28px;
 		border-bottom: 1px solid #23282e;
 		margin-left: 0px;
 	}
 	.sub-line ul .sub-press li:hover,
 	.sub-line li .sub-press li:hover {
 		background-color: #020203;
 	}
 	.sub-line ul .sub-press li:before,
 	.sub-line li .sub-press li:before {
 		font-family: Arial;
 		content: "\f105";
 		display: inline-block;
 		padding-left: 50px;
 		padding-right: 10px;
 		vertical-align: middle;
 	}

 	.sub-line li {
 		padding-left: 20px;

 		border-bottom: 1px solid #23282e;
 	}
 	.sub-line li a {
 		text-decoration: none;
 		color: #e1ffff;
 	}
 	.sub-line li a i {
 		padding-left: 50px;
 		width: 20px;
 		padding-right: 20px;
 	}
 	.sub-line li:hover {

 		background-color: #4f5b69;
 		-webkit-transition: all 1s ease;
 		-moz-transition: all 1s ease;
 		-o-transition: all 1s ease;
 		-ms-transition: all 1s ease;
 		transition: all 1s ease;
 	}
 	@media (max-width: 767px) {
 		.sub-line {
 			position: relative;
 			width: 100%;
 			margin-bottom: 10px;
 		}
 		.sub-line .toggle-btn {
 			display: block;
 			cursor: pointer;
 			position: absolute;
 			right: 10px;
 			top: 10px;
 			z-index: 10 !important;
 			padding: 3px;
 			background-color: #ffffff;
 			color: #000;
 			width: 40px;
 			text-align: center;
 		}
 	}
 }

 /**** SISTEMAS DASH**********/

 .box-sistemas{
 	width: 30%;
 	display: flex;
 	flex-direction: row;
 	height: 100px;
 	color: #2d2a32 !important;
 	text-transform: uppercase;
 	margin-right: 2%;
 	border-radius: 5px;
 	padding: 1%;
 	background: white !important;
 	font-family: "Lato", sans-serif;	
 	align-items: center;
 	-webkit-box-shadow: 1px 1px 28px 1px #efefef; 
 	box-shadow: 1px 1px 28px 1px #efefef;
 	color: #919191;

 }

.box-auto{
 	min-width: 10%;
 	display: flex;
 	height: 100px;
 	color: #2d2a32 !important;
 	text-transform: uppercase;
 	margin-right: 2%;
 	border-radius: 5px;
 	padding: 2%;
 	background: white !important;
 	font-family: "Lato", sans-serif;	
 	align-items: center;
 	-webkit-box-shadow: 1px 1px 28px 1px #efefef; 
 	box-shadow: 1px 1px 28px 1px #efefef;
 	color: #919191;
}

#trafego-redes{
	background-image: url("../img/trafego-portas.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 38%;
	width: 100%;
}

#trafego-redes:hover{
	background-image: url("../img/trafego-portas2.png");
	background-repeat: no-repeat;
	background-size: contain;
}

